.container {
    background: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: repeat(2, 150px);
    //grid-template-columns: repeat(2, 150px) 1fr;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 50% 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);

    // grid-row-gap: 30px;
    // grid-column-gap: 30px;
    grid-gap: 30px;

    &>.item {
        padding: 20px;
        font-size: 30px;
        font-family: sans-serif;
        color: white;
    
        &--1 {
            background-color: orangered;
            // grid-row-start: 2;
            // grid-row-end: 3;
            // grid-column-start: 2;
            // grid-column-end: 3;
            grid-row: 2;
            grid-column: 2;
        }
    
        &--2 {
            background-color: yellowgreen;
        }
    
        &--3 {
            background-color: blueviolet;
        }
    
        &--4 {
            background-color: palevioletred;
        }
    
        &--5 {
            background-color: royalblue;
            // grid-row: 1;
            // grid-column: 3;
            grid-area: 1 / 3;
        }
    
        &--6 {
            background-color: goldenrod;
        }
    }
}

.container-challenge {
    background: #eee;
    margin: 30px auto;
    width: 1000px;

    display: grid;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
    &>.item {
        padding: 20px;
        font-size: 30px;
        font-family: sans-serif;
        color: white;
        background-color: orangered;

    }

    &>.header {
        grid-column: 1 / -1;
        background-color: blue;
    }

    &>.main-content {
        grid-column: 1 / 4;
        grid-row: 3 / 5;
    }

    &>.sidebar {
        grid-column: 4 / 5;
        grid-row: 2 / 5; 
    }

    &>.footer {
        grid-column: 1 / -1;
    }
}

// METHOD 1: LINE NUMBERS
// .challenge {
//    width: 1000px;
//    margin: 30px auto;

//    display: grid;
//    grid-template-rows: 100px 200px 400px 100px; //100px for header, 200px for small boxes, 400px main content, 100px footer
//    grid-template-columns: repeat(3, 1fr) 200px; //1fr for rest of columns, 200px for sidebar
//    grid-gap: 30px;

//    & > * {
//        background-color: rgb(9, 5, 228);
//        padding: 20px;
//        color: white;
//        font-size: 30px;
//        font-family: sans-serif;
//    }

//    .header {
//        grid-column: 1 / -1;
//    }

//    .sidebar {
//        grid-column: 4 / 5;
//        grid-row: 2 / span 2;
//    }

//    .main-content {
//        grid-column: 1 / span 3;
//    }

//    .footer {
//        grid-column: 1 / -1;
//    }
// }

// METHOD 2: LINE NAMES

.challenge {
   width: 1000px;
   margin: 30px auto;

   display: grid;
   grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 100px [footer-end]; //100px for header, 200px for small boxes, 400px main content, 100px footer
   grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end]; //1fr for rest of columns, 200px for sidebar
   grid-gap: 30px;

   & > * {
       background-color: rgb(9, 5, 228);
       padding: 20px;
       color: white;
       font-size: 30px;
       font-family: sans-serif;
   }

   .header {
       grid-column: col-start 1 / grid-end;
   }

   .sidebar {
       grid-column: col-end 3 / grid-end;
       grid-row: box-start / main-end;
   }

   .main-content {
       grid-column: col-start 1 / col-end 3;
   }

   .footer {
       grid-column: col-start 1 / grid-end;
   }
}